.git
.gitignore
__pycache__
*.pyc
*.pyo
*.log
media/
node_modules/
.env
.dockerignore# .dockerignore
.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
media/
staticfiles/
.env
README.md